.box {
  border-left: 4px solid #DDDDDD;
  padding: 3px;
}

#answer {
  background: #FFFEE1;
}

.italic {
  font-style: italic
}

.bold {
  font-weight: bolder
}

.container {
  width: 300px
}

a {
  color: #598BBF;
  text-decoration:none
}

h1, p {

  font-family:roboto
}
